<?xml version='1.0' encoding="utf-8"?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android' package='com.example.helloandroid' a:versionCode='1' a:versionName='1.0'>
   
    <uses-permission a:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission a:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission a:name="android.permission.BLUETOOTH"/>
    <uses-permission a:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature a:name="android.hardware.bluetooth_le" a:required="true"/>

    <application a:icon="@drawable/icon" a:label='Tuya Mesh Scanner'>
        <activity a:name='com.example.helloandroid.MainActivity'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
